USE [master]
GO
/****** Object:  Database [BaseRefaccionaria]    Script Date: 05/01/2025 11:16:28 p. m. ******/
CREATE DATABASE [BaseRefaccionaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseRefaccionaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaseRefaccionaria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseRefaccionaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaseRefaccionaria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseRefaccionaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseRefaccionaria]
GO
/****** Object:  Table [dbo].[administradores]    Script Date: 05/01/2025 11:16:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administradores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 05/01/2025 11:16:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[Id_orden] [int] IDENTITY(1,1) NOT NULL,
	[dueño] [nvarchar](255) NOT NULL,
	[servicio] [nvarchar](255) NOT NULL,
	[encargado_id] [nvarchar](255) NOT NULL,
	[pago] [decimal](18, 0) NOT NULL,
	[telefono] [nvarchar](255) NOT NULL,
	[notas] [nvarchar](255) NOT NULL,
	[fecha_hora] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ordenes] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
USE [master]
GO
